<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<th:block th:insert="~{/layouts/header.html::headerLayout()}"></th:block>
<th:block th:insert="~{/layouts/nav.html::navLayout(${userId}, ${log}, ${reg}, ${home}, ${lk}, ${req})}"></th:block>
<main>
    <div th:class="auth">

        <form th:action="@{/login}" method="post">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Войти</button>
        </form>

        <div th:class="error_message" th:if="${param.error}">
            <div th:class="message">
                <span class="icon" style="margin-right: 10px;">&#9888;</span>
                Неверное имя пользователя или пароль!
            </div>
        </div>
    </div>
</main>
<th:block th:insert="~{/layouts/footer.html::footerLayout()}"></th:block>
</body>
</html>
