<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<th:block th:insert="~{/layouts/header.html::headerLayout()}"></th:block>
<th:block th:insert="~{/layouts/nav.html::navLayout(${userId}, ${log}, ${reg}, ${home}, ${lk}, ${req})}"></th:block>
<main>
    <div th:class="auth">

        <form th:action="@{/register}" method="post">

            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" placeholder="имя пользователя" required>
            <span th:if="${error == true && type == 'username'}">такое имя пользователя занято</span>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="email" required>
            <span th:if="${error == true && type == 'email'}">такой email занят</span>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="пароль" required>
            <input type="password" name="passRepeat" placeholder="повторить пароль">
            <span th:if="${error == true && type == 'password'}">пароли не совпадают</span>

            <button type="submit">Зарегистрироваться</button>

        </form>

        <div th:class="error_message" th:if="${error == true && type == 'unknown'}">
            <div th:class="message">
                <span class="icon" style="margin-right: 10px;">&#9888;</span>
                Что-то пошло не так!:( Попробуйте снова.
            </div>
        </div>

        <div th:class="success_message" th:if="${error == false}">
            <div th:class="message">
                <span class="icon" style="margin-right: 10px;">&#10004;</span>
                Регистрация прошла успешно!
            </div>
            <a th:href="@{/login}">Войти</a>
        </div>

    </div>
</main>
<th:block th:insert="~{/layouts/footer.html::footerLayout()}"></th:block>
</body>
</html>
