<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header>
    <h1>Регистрация</h1>
    <nav>
        <a th:href="@{/login}">Вход</a> |
        <a th:href="@{/}">Главная</a>
    </nav>
</header>
<main>
    <div th:class="auth">
        <form th:action="@{/register}" method="post">

            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" placeholder="имя пользователя" required>
            <span th:if="${error == true && type == 'username'}">такое имя пользователя занято</span>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="email" required>
            <span th:if="${error == true && type == 'email'}">такой email занят</span>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="пароль" required>
            <input type="password" name="passRepeat" placeholder="повторить пароль">
            <span th:if="${error == true && type == 'password'}">пароли не совпадают</span>

            <button type="submit">Зарегистрироваться</button>

        </form>

        <div th:class="error_message" th:if="${error == true && type == 'unknown'}">
            <h2>Что-то пошло не так!:(</h2>
            <h2>Повторите попытку позже!</h2>
        </div>

        <div th:class="success_message" th:if="${error == false}">
            <h2>Вы успешно зарегистрированы!</h2>
            <a th:href="@{/login}">Войти</a>
        </div>

    </div>
</main>
<footer>
    <section>
        <p>&copy; 2024 Управляющая Компания</p>
    </section>
</footer>
</body>
</html>
